<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
</head>
<body>
    <h1>Pacientes</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>email</th>
            <th>Acciones</th>
        </tr>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.id }}</td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.direccion }}</td>
            <td>{{ paciente.telefono }}</td>
            <td>{{ paciente.email }}</td>
            <td><a href="/pacientes/actualizar/{{ paciente.id }}">Actualizar</a></td>
            <td><a href="/pacientes/eliminar/{{ paciente.id }}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/pacientes/registrar/">Registrar Nuevo Paicente</a>
</body>
</html>

