<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Citas</title>
</head>
<body>
    <h1>Registro de Citas</h1>
    <form method="post" action="/citas/guardar/">
        <input type="text" name="fecha" placeholder="Ingrese fecha de cita"><br>
        <input type="text" name="hora" placeholder="Ingrese hora de cita"><br>
        <input type="text" name="paciente" placeholder="Ingrese al doctor"><br>
        <input type="text" name="doctor" placeholder="Ingrese al paciente"><br>
        <input type="submit" value="Registrar">
    </form> 
</body>
</html>