<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Doctores</title>
</head>
<body>
    <h1>Registro de Doctores</h1>
    <form method="post" action="/doctores/guardar/">
        <input type="text" name="nombre" placeholder="Ingrese su nombre"><br>
        <input type="text" name="especialidad" placeholder="Ingrese su especialidad"><br>
        <input type="text" name="telefono" placeholder="Ingrese su teléfono"><br>
        <input type="submit" value="Registrar">
    </form> 
</body>
</html>