<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Pacientes</title>
</head>
<body>
    <h1>Registro de Pacientes</h1>
    <form method="post" action="/pacientes/guardar/">
        <input type="text" name="nombre" placeholder="Ingrese su nombre"><br>
        <input type="text" name="direccion" placeholder="Ingrese su dirección"><br>
        <input type="text" name="telefono" placeholder="Ingrese su teléfono"><br>
        <input type="text" name="email" placeholder="Ingrese su email"> <br>
        <input type="submit" value="Registrar">
    </form> 
</body>
</html>